<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.101.0">
    <title></title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="css/styles3.css">
  </head>
  <body>
    <div class="jumbotron centered">
  <div class="container">

    <h1 class="display-3">To-Do List</h1>
    <p class="lead">Make your own to-do list</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/signup" role="button">Sign-up</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>
  </body>
</html>
